// Navigation code here
.topnav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: @nav-bg;
    border-bottom: 1px solid @nav-border;
    h1 {
        display: flex;
        justify-content: center;
        margin-top:1%;
        font-size: 4.2rem;

    }
    nav {
        display: flex;
        justify-content: center;
        padding: 2% 15% 1% 15%;

a {
    font-size: 1.4rem;
padding: 0 30px; 
text-decoration: none;
color: @header-font-color;
}
    }
}